
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body {
	font-size: 26px;
}
.menu a{
	color: green;
	margin-left: 25px;
}

.item {
	border-style: inset;
	border-color: red;
	border-radius: 15px;
	margin: 20px;
	padding-left: 10px;
	padding-top: 25px;  

}
.image {
	width: 200px;
	height: 150px;
	
}
.main_body {
	display: inline-block;
	padding-bottom: 30px;

}
.title {
	font-size: 42px;
	padding-bottom: 40px;
}
.text_for{
	font-size: 25px;
	font-weight: 900;
}
.price {
	background-color: #ffdfcb;
	border-radius: 10px;
	padding: 20px;
}
.description {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 20px;
}
.city {
	font-weight: 600;
}
.urgent {
	background-color: yellow;
}